/* body is given the gradient */
body {
  background-image: linear-gradient(#2f99d5, #08d7b0);
  /* hover effect is added to buttons */
}

button:hover {
  background-color: goldenrod;
}
/* view container just height and width */
#view-container {
  width: 400px;
  height: 100px;
}
/* view is are where pressed button data will be displayed */
#view {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  height: 90px;
}
/* main container it is the frame  */
#main-container {
  margin-left: 800px;
  margin-top: 100px;
  height: 640px;
  width: 400px;
  border: 1px solid black;
  background-color: floralwhite;

  padding: 50px;
}
/* inner text is for text of button like abc */
.inner-text {
  font-size: 1rem;
  font-weight: bold;
  color: grey;
}
/* these div contains all the buttons */
#button-container {
  margin-left: 25px;
}
/* button class is defined so that all the buttons dont need specific css */
.button-class {
  height: 110px;
  width: 110px;
  font-size: 2rem;
  box-shadow: 10px 10px 10px gray;

  border: 1px solid black;
  border-radius: 10px;
}
/* call button and buttonackspace have specific css */
#call {
  height: 110px;
  width: 110px;
  font-size: 2rem;
  box-shadow: 10px 10px 10px gray;
  border-radius: 10px;
}
#backspace {
  height: 110px;
  width: 110px;
  font-size: 2rem;
  box-shadow: 10px 10px 10px gray;
  border-radius: 10px;
}
